	{% extends 'base.html' %}

{% block 'content' %}
      <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.27.2/axios.min.js" integrity="sha512-odNmoc1XJy5x1TMVMdC7EMs3IVdItLPlCeL5vSUPN2llYKMJ2eByTTAIiiuqLg+GdNr9hF6z81p27DArRFKT7A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js">
    </script>
  <main id="main" data-aos="fade" data-aos-delay="1500">

    <!-- ======= End Page Header ======= -->
    <div class="page-header d-flex align-items-center">
      <div class="container position-relative">
        <div class="row d-flex justify-content-center">
          <div class="col-lg-6 text-center">


          </div>
        </div>
      </div>
    </div><!-- End Page Header -->

    <!-- ======= Gallery Single Section ======= -->
    <section id="gallery-single" class="gallery-single">
      <div class="container">

        <div class="position-relative h-100">
          <div class="slides-1 portfolio-details-slider swiper">
            <div class="swiper-wrapper align-items-center">

              <div class="swiper-slide">
                <img src="/media/{{data.image}}" alt="">
              </div>
              <p id="img-link" style="
    display: none;
    visibility: hidden;">/media/{{data.image}}</p>


            </div>

          </div>


        </div>

        <div class="row justify-content-between gy-4 mt-4">

          <div class="col-lg-8">
            <div class="portfolio-description">
              <h2>Name</h2>

              <p>
{{data.Name}}
              </p>

            </div>
          </div>

          <div class="col-lg-3">
            <div class="portfolio-info">
              <h3>Download</h3>
              <ul>
                <li><strong>Category</strong> <span>{{data.categories}}</span></li>

                <li><a class="btn-visit align-self-start"><div id="imgAnchor"></div></a></li>
              </ul>

            </div>
          </div>


        </div>

      </div>
    </section><!-- End Gallery Single Section -->

  </main><!-- End #main -->

                    <script>
            const imageLink = document.getElementById('img-link');
            const anchorContainer = document.getElementById('imgAnchor');

            let imgLink = imageLink.innerHTML;
            imgLink = imgLink.split(' ').join('%20')
            console.log(imgLink);

            anchorContainer.insertAdjacentHTML('beforeend', `<a href="${imgLink}" download="file" style="color:white;">Download</a>`)


        </script>


  {% endblock %}